CompileFlags:
  CompilationDatabase: build/cache
  Remove:
    - -fno-rtti
    - -fno-exceptions
    - -mlongcalls
    - -mfix-esp32-psram-cache-issue
    - -fstrict-volatile-bitfields
    - -mdisable-hardware-atomics
    - -fno-tree-switch-conversion
